.navigation,.nav-items{
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #303030;
  padding: 20px;
  position: fixed;
  z-index: 100300;
  top:0;
  left:0;
  justify-content: space-between;
}
.navigation .log-out{
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.navigation a{
  margin-right: 10px;
  color: white;
  text-decoration: none;
 
}
.navigation a:hover,
.navigation a:focus{
  color: #f50057;
}
.main{
  margin-top: 80px;
}
#signin{
 margin-right: 5%; 
}